# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

debug_cli/vendor
debug_cli/telegram.session
MadelineProto.log
server/run_user_log.txt
pm2_logs

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local

# SQL backups
sql_backups/
*.sql

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
